.App {
  text-align: center;
  padding-top: 2%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list-item {
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
  margin-top: 40px;
  padding-left: 10%;
}

.title-header {
  background-color: #222;
  color: rgba(255,255,255,0.8);
  padding: 10px;
  margin-bottom: 30px;
}

.more_butt {
  background-color: #222;
  width:100%;
  padding: 20px;
  font-style: bold;
}

.error_text {
  text-align: center;
  font-size: 3em;
}

.spinner {
  margin: 10% 50%;
}