body {
margin:0;
color: #222;
background-color: aliceblue;
font: 400 14px CoreSans, Arial,sans-serif;
}

a{
color: #222;
}

a:hover {
text-decoration: underline;
}

ul, li { 
list-style: none; 
padding: 0; 
margin: 0;
}

input {
padding: 10px; 
border-radius: 5px; 
outline: none; 
margin-right: 10px; 
border: 1px solid #dddddd;
}

button {
padding: 5px; 
border-radius: 5px; 
border: 1px solid #dddddd;
background: rgba(0,0,0,0.2); 
color: #808080;
cursor: pointer;
}

button:hover { 
color:yellow;
background-color: rgba(255,0,0,0.8);
}

*:focus { 
outline: none;
}